In [13]:
import pandas as pd

In [14]:
df=pd.read_excel("Churn_Management.xlsx")

In [15]:
def check_df(dataframe):
    print(f"""
        ##################### Shape #####################\n\n\t{dataframe.shape}\n\n
        ##################### Types #####################\n\n{dataframe.dtypes}\n\n
        ##################### Head #####################\n\n{dataframe.head(5)}\n\n
        ##################### Tail #####################\n\n{dataframe.tail(5)}\n\n
        ##################### NA #####################\n\n{dataframe.isnull().sum()}\n\n
        """)

In [16]:
check_df(df)

        ##################### Shape #####################

	(7043, 21)


        ##################### Types #####################

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object


        ##################### Head #####################

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]


        ##################### Tail #####################

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
7038  6840-RESVB    Male              0     Yes        Yes      24
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
7038          Yes               Yes             DSL            Yes  ...
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
7038              Yes         Yes         Yes             Yes        One year
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
7038              Yes               Mailed check          84.80        1990.5
7039              Yes    Credit card (automatic)         103.20        7362.9
7040              Yes           Electronic check          29.60        346.45
7041              Yes               Mailed check          74.40         306.6
7042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
7038    No
7039    No
7040    No
7041   Yes
7042    No

[5 rows x 21 columns]


        ##################### NA #####################

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [17]:
df["SeniorCitizen"] = df["SeniorCitizen"].apply(lambda x: "J" if x == 0 else "S")

In [18]:
df["tenureSegment"]=pd.cut(df["tenure"],bins=[0,6,16,float("inf")],labels=["0-6","7-16","17+"],right=True,include_lowest=True)

In [19]:
df["Contract"]=df["Contract"].map({"Month-to-month":"MM","One year":"OY","Two year":"TY"})

In [20]:
df["useTechProduct"] = df[["OnlineSecurity", "OnlineBackup", "DeviceProtection","TechSupport"]].apply(lambda x: "use_tech_product" if(x == "Yes").any() else "not_use_tech_product", axis=1)

In [21]:
df["customerSegment"]=df["SeniorCitizen"].astype(str) + " " +df["tenureSegment"].astype(str) + " " +df["Contract"].astype(str) + " " +df["useTechProduct"].astype(str)

In [22]:
df["intChurn"]=df["Churn"].map({"Yes": 1,"No": 0})

In [23]:
churn_rate=(df["Churn"].value_counts()["Yes"]/df.shape[0])*100 # result = 26.53

In [25]:
df.groupby("customerSegment",as_index=False).agg({"intChurn":"mean","customerID":"count","MonthlyCharges":"mean","tenure":"mean"}).sort_values(by="intChurn",ascending=False).head(15)

,customerSegment,intChurn,customerID,MonthlyCharges,tenure
18,S 0-6 MM not_use_tech_product,0.746479,142,64.847535,2.246479
19,S 0-6 MM use_tech_product,0.693333,75,73.504000,3.066667
26,S 7-16 MM not_use_tech_product,0.626667,75,76.569333,11.200000
27,S 7-16 MM use_tech_product,0.579545,88,78.400568,11.125000
1,J 0-6 MM use_tech_product,0.522673,419,66.924702,3.014320
0,J 0-6 MM not_use_tech_product,0.518662,777,46.578893,2.181467
20,S 17+ MM not_use_tech_product,0.489796,98,78.267347,33.051020
21,S 17+ MM use_tech_product,0.416413,329,87.000912,39.811550
13,J 7-16 MM use_tech_product,0.413514,370,72.911081,11.283784
3,J 0-6 OY use_tech_product,0.400000,5,73.790000,3.800000
12,J 7-16 MM not_use_tech_product,0.355422,332,50.609036,10.620482
7,J 17+ MM use_tech_product,0.276817,867,79.525548,36.525952
6,J 17+ MM not_use_tech_product,0.267327,303,55.037459,29.240924
23,S 17+ OY use_tech_product,0.169697,165,90.323333,54.200000
9,J 17+ OY use_tech_product,0.129697,825,79.547030,47.776970